---
import { Music, Youtube } from "lucide-react";
import Layout from "../../../../components/layout.astro";
import { AiOutlineSpotify } from "react-icons/ai";
---

<Layout>
    <div class="w-screen h-screen justify-center noise-bg overflow-scroll">
        <div class="max-w-2xl p-12 mx-auto">
            <h2 class="text-xl font-bold">bhalobasha baki</h2>
            <div id="links" class="my-6 flex gap-2 items-center">
                <a
                    href="https://open.spotify.com/track/0AEhTnH1nR8zJ2d3iwQyM3?si=09ac63df008444f8"
                    target="_blank"
                >
                    <AiOutlineSpotify className="text-xl" />
                </a>
                <a
                    href="https://www.youtube.com/watch?v=NN4q2u9KLAo"
                    target="_blank"
                >
                    <Youtube />
                </a>
            </div>
            <div>
                hi! this is for you. when i said i will mold you with my taste
                in music, i meant it ;)
                <br />
                i have decided to pick a song every day, write about why i like it,
                why is it special and why you should listen to it.
                <br />
                <br />
                before you continue, i would like you to go ahead and listen to the
                song first. links are provided on top.
                <br />
                for this song, imagine us at the end of a date, in park street, the
                last few moments before we have to go different directions, or in
                shyambazar, you are on the other side of the road, waving me goodbye.
                <br />
                go listen and comeback, i will be waiting.
                <br />
                <br />
                did you feel it?
                <br />
                <br />
                i feel amazed how humans can express themselves more vividly in songs
                than they can in normal converstaions. this song is a 5min hopeful
                manifestation of all the dreams that almost all couples have, especially
                in the beginning, or when in a long distance relationship.
                <br />
                nothing is enough, no amount of time is enough, so stay a little
                more, don't go, we have so much left to do.
                <br />
                <br />
                <i>tomake du chokh bhore dekha aro je baki.</i>
                <br />
                <i>kache eshe joriye dhora baki</i>
                <br />
                <i>"bhalobashi tomake" bola baki</i>
                <br />
                <br />
                that yearning to just run back, not let go, to look at each other
                a few more minutes, to hug and never let go, and to announce to you
                and to the world that im deeply in love with you.
                <br />
                <br />
                <i>e jibon tomar name lekha baki</i>
                <br />
                <br />
                such sweet words in such a sweet languange. melts my heart. that
                leap of faith, that devotion, that surrendering of one's entire life
                at the mercy of another, compressed into five words.
                <br />
                <br />
                <i>jokhoni tumi kache, somoy kate heshe</i>
                <br />
                <i>lage janala tumi, bodhho ei mone</i>
                <br />
                <br />
                your presence elevates everything, the time spent with you on my
                side is filled with joy and laughter, it's like attaching a window
                to the suffocating, windowless, damp and depressing room called my
                heart, you let in some fresh air.
                <br />
                <br />
                <i>bishonnota kete jay, tomar chhoay</i>
                <br />
                <i>je chhoa amar aro chaoa baki</i>
                <br />
                <br />
                your touch drives away all my sorrow, a cure to all my misery, but
                again, it's not enough, i need more of it, stay with me so i can
                get your touch and never have to be gloomy again.
                <br />
                <br />
                <i>eki sathe sokal dekha baki</i>
                <br />
                <i>sagar tore mile bheja baki</i>
                <br />
                <i>joto kotha tomar bolar, shona baki</i>
                <br />
                <br />
                we have so many things we need to do together, wake up in the morning
                and watch sunrise, get wet in the sea shore, listen to all the words
                you have to say, we have so much to do. don't go, stay here. let
                me renounce my life to you so that you can take me along.
                <br />
                <br />
                <i>rangale tumi abar bhalobasay, mrito prai hridoytake</i>
                <br />
                <i>dekhale swapno shob, hoyni sahos kokhono dekhar age</i>
                <br />
                <i>chhoriye dile alo, chhilo adhare joto</i>
                <br />
                <br />
                you added colors to my dull black and white world, you helped me
                dream things which i never dared to even think about, you provide
                me courage to face this world, to keep dreaming, to keep running,
                to hope and to keep smiling. you fill my dark world with light.
                <br />
                <br />
                <i>ekhonoto, hate dhora baki</i>
                <br />
                <i>eki sathe bikel hanta baki</i>
                <br />
                <i>chokhe chokhe, kotha bojha baki</i>
                <br />
                <br />
                let me hold your hands, and walk beside you while the sun sets, let
                me admire you, adore you with my gaze. just looking at each other
                is enough to understand what we are feeling.
                <br />
                <br />
                <i>e jibon tomar name lekha baki</i>
                <br />
                <br />
                let me be yours forever.
                <br />
                <br />
                🖤
            </div>
        </div>
    </div>
</Layout>
