---
import { Music, Youtube } from "lucide-react";
import Layout from "../../../../components/layout.astro";
import { AiOutlineSpotify } from "react-icons/ai";
---

<Layout>
    <div class="w-screen h-screen justify-center noise-bg overflow-scroll">
        <div class="max-w-2xl p-12 mx-auto">
            <h2 class="text-xl font-bold">onno groher chaand</h2>
            <div id="links" class="my-6 flex gap-2 items-center">
                <a
                    href="https://open.spotify.com/track/1TF9vJktFsR3esAUvB3Tfr?si=d6d6298c43504ff9"
                    target="_blank"
                >
                    <AiOutlineSpotify className="text-xl" />
                </a>
                <a
                    href="https://www.youtube.com/watch?v=Y1z069Ci5aE"
                    target="_blank"
                >
                    <Youtube />
                </a>
            </div>
            <div>
                hello again! welcome back! another day another song :) but this
                time it's kind of a sad song. well i just can't keep writing
                about 'happy ending' songs because they are a rare breed.
                <br />
                humans choose art to express sorrow, loss, misery, regrets more often
                than happy emotions. i believe this is because it's easy to share
                happiness but rarely you have someone to share your sadness with.
                so that is when you let it out through a song, or poem, or painting.
                <br />
                <br />
                again, go listen to the song first, i will be waiting...
                <br />
                <br />
                so this song is about contrasts, regrets and laments. me being in
                such a healthy and happy relationship rarely do i genuinely connect
                with a sad song, because i can't relate. but some songs like this
                one somehow puts me in the shoes of the protagonist. this song is
                also about the crazy power of human literature to imbue non living
                objects with emotions and feelings, and to comapre humans with them.
                <br />
                <br />
                <i>tomar akash dhorar shokh</i>
                <br />
                <i>amar somuddure chokh</i>
                <br />
                <i>ami ki ar debo bolo</i>
                <br />
                <i>tomar shudhu-i bhalo hok</i>
                <br />
                <br />
                "we are fundamentally different, you aim for the sky while i want
                to just look at the seas, you want excitement, rush, novel experiences
                while i want peace and stability, faimiliarity. so we can't possibly
                be together, i can give you nothing. i will sit here on the sea shore,
                while you fly away, i wish you good luck."
                <br />
                well we too were crazily contrasted, but i enjoyed when you took
                me and flew high, and you appreciated the calmness while sitting
                beside me on the shore. 🫰🏼
                <br />
                <br />
                <i>tumi cholti train er hawa</i>
                <br />
                <i>ami kapi thorothor</i>
                <br />
                <br />
                this is what i was talking about, how can you possibly express a
                feeling which says "i enjoy this, i want to enjoy this, but it hurts
                me, i can't endure it for too long"? well you compare it to "cholti
                train er haoa" in the spring just after winter, a cold breeze which
                feels good at first but then you start shivering, you can't enjoy
                it for too long, you want to saty but you know you are gonna catch
                cold. so "your love and company is like that, i want to enjoy it,
                i want it to stay, but i will shiver soon, i wont be able to endure
                it."
                <br />
                <br />
                <i>tumi jhinuk kurao jodi</i>
                <br />
                <i>ami hobo shanto nodi</i>
                <br />
                <br />
                here we see submission and devotion, "if you come to collect shells
                from my shore, i assure you i will be a calm river, will let you
                pluck as many shells as you would like, i wont be turbulent like
                the sea, so please come by my shore."
                <br />
                <br />
                <i>amar asar shomoy hole</i>
                <br />
                <i>tumi haat foske gele</i>
                <br />
                <i>tomar jaowar paytara</i>
                <br />
                <i>ami hoi je dishehara</i>
                <br />
                <br />
                this is best experienced by howrah-bardhhaman line passengers, you
                run and run to catch the train, you keep looking at the time, you
                reach the station and the train has just started moving, you can't
                possibly catch it anymore. you now wait for hours....
                <br />
                "i miss my oppportunity everytime, whenever it's my time to come,
                you get ready to leave, i miss your hand and then im bewildered"
                <br />
                <br />
                <i>tumi onno groher chad</i>
                <br />
                <i>amar ekla thakar chad</i>
                <br />
                <i>tomar ferar sombhabona</i>
                <br />
                <i>amabossay jochna</i>
                <br />
                <br />
                "you not only belong to my world, you are not even the moon of my
                world, you are the moon of some other world, some other guy, you
                revolve around him, while i sit here not even able to look at you
                much. the chances of you coming back are similar to the chances of
                getting moonlight in a new moon night."
                <br />
                <br />
                that is it for today, come again tomorrow :).
                <br />
                <br />
                🖤
                <p class="mb-12" />
            </div>
        </div>
    </div>
</Layout>
