---
import { Music, Youtube } from "lucide-react";
import Layout from "../../../../components/layout.astro";
import { AiOutlineSpotify } from "react-icons/ai";
---

<Layout>
    <div class="w-screen h-screen justify-center noise-bg overflow-scroll">
        <div class="max-w-2xl p-12 mx-auto">
            <h2 class="text-xl font-bold">porinita</h2>
            <div id="links" class="my-6 flex gap-2 items-center">
                <a
                    href="https://open.spotify.com/track/5fQBQdZwNcW1FKTuCXQWjU?si=e5f5938bccac46e3"
                    target="_blank"
                >
                    <AiOutlineSpotify className="text-xl" />
                </a>
                <a
                    href="https://www.youtube.com/watch?v=2VLWaxKpBh8"
                    target="_blank"
                >
                    <Youtube />
                </a>
            </div>
            <div>
                hiii! thanks for interrupting me with facetime while i am in
                college in my lab, on my laptop (means i am already attracting
                so much unwanted attention) while i was preparing this blog,
                thanks for trying to bring more attention. 😘
                <br />
                this time i bring to you a nice funcky rock song full of energy (and
                maybe external affarir too!).
                <br />
                <br />
                go listen to the song first, i will be waiting... if you don't understand
                no worries, come back and read while playing it again
                <br />
                <br />
                this song is just the singer worshipping the beauty, and the power
                of that beauty of a (possibly married) lady. it says that the she
                is so beautiful that even the most impossible things can happen in
                her command.
                <br />
                all the lyrics are self explanatory, but some lines need context,
                so i will provide those contexts as and when required.
                <br />
                <br />
                <i>tumi balo jodi</i>
                <br />
                <i>nami-dami kobi</i>
                <br />
                <i>ghaam falabe maatha thek pay</i>
                <br />
                <br />
                "you are so beautiful and gorgeous that if you ask for it everything
                is possible, everyone is slave to your beauty, even the most famous
                poets will sweat from head to toe in your command."
                <br />
                <br />
                <i>tumi balo jodi</i>
                <br />
                <i>trudeau aar modi</i>
                <br />
                <i>chithi dibe roj sandhya</i>
                <br />
                <br />
                context: trudeau is the prime minister of canada and you know who
                modi is. and recently, in 2023, there was a lot of tension between
                india and canada regarding the sikh protests and the two countries
                were not in good terms.
                <br />
                so the songs says that "you are so beautiful, that in your command,
                the prime ministers of two opposing countries would also exchange
                sweet letters every evening."
                <br />
                <br />
                <i>tumi jodi balo</i>
                <br />
                <i>et agochhalo</i>
                <br />
                <i>prithivi ta soja hoye jay</i>
                <br />
                <br />
                "in your command, this chaotic world will orgnize itself and fall
                on your feet".
                <br />
                <br />
                <i>tumi jodi balo</i>
                <br />
                <i>tobe frida kahlo</i>
                <br />
                <i>rang tong chere chure sannyasi hoye jay</i>
                <br />
                <br />
                frida kahlo is a famous italian painter, and the song says that "if
                you command, frida kahlo will leave her paintings and become a monk"
                the song is just having fun.
                <br />
                "i miss my oppportunity everytime, whenever it's my time to come,
                you get ready to leave, i miss your hand and then im bewildered"
                <br />
                <br />
                <i>tumi balo jodi</i>
                <br />
                <i>sinhashoner godi</i>
                <br />
                <i>bidrohike sir bole jay</i>
                <br />
                <br />
                "in your command, the one sitting on the throne, the king, the one
                at power, will come and salute the protesters, the rebels, and greet
                them with a respectful 'sir'". the irony is that rebels are protesting
                against the king of course, so instead of oppressing them, the king
                is welcoming them with respect.
                <br />
                <br />
                <i>tumi pa barale</i>
                <br />
                <i>durotto khamkhayale</i>
                <br />
                <i>kache ase pashe boshe pocuhiye diye jay</i>
                <br />
                <br />
                "if you take a step, distance casually comes comes to sit beside
                you, bringing you to your destination". ie, even distance is slave
                to your beauty, it works to bring the destination to you so that
                you don't have to walk. that is it for today, come again tomorrow
                :).
                <br />
                <br />
                <i>porinita, tumii eka</i>
                <br />
                <i>aami theekii bhavi tomare</i>
                <br />
                <br />
                porinita, according to google means a married lady so: "oh married
                lady, i know you are lonely, i know that i know you well."
                <br />
                <br />
                <p class="text-xs">
                    p.s.: you would have gotten it by 2'o clock if you wont have
                    panicked about your apple pencil, i had to quit writing this
                    and look for a fix for your pencil.
                </p>
                <br />

                🖤
                <p class="mb-12"></p>
            </div>
        </div>
    </div>
</Layout>
