---
import { Music, Youtube } from "lucide-react";
import Layout from "../../../../components/layout.astro";
import { AiOutlineSpotify } from "react-icons/ai";
---

<Layout>
    <div class="w-screen h-screen justify-center noise-bg overflow-scroll">
        <div class="max-w-2xl p-12 mx-auto">
            <h2 class="text-xl font-bold">ami sudhu khujechi amay</h2>
            <div id="links" class="my-6 flex gap-2 items-center">
                <a
                    href="https://open.spotify.com/track/1uMCgg4QPenri9hLgb5a0K?si=bbb21d4749f34e4e"
                    target="_blank"
                >
                    <AiOutlineSpotify className="text-xl" />
                </a>
                <a
                    href="https://www.youtube.com/watch?v=VKJq7FqYa9c"
                    target="_blank"
                >
                    <Youtube />
                </a>
            </div>
            <div>
                helloo! thanks for the gifting me such special things, thankoo
                so much :))
                <br />
                so today i am very short of time (thank oo for reminiding me though),
                and thus we gonna do a song which is fun to listen to and does not
                need too much explanation.
                <br />
                this song is from one of my favorite bangla band, <i
                    >taalpatar shepai</i
                >.
                <br />
                <br />
                but we can't hekp ourself from appreciating you and your radiance
                despite it being our journey of self discovery.
                <br />
                <br />
                <i>lagche boro tomake bhalo</i>
                <br />
                <i>sab rongin naki monta rangalo</i>
                <br />
                <i>surjer saathe roj jalo alo</i>
                <br />
                <i>ghuche jak jyoto aandhar kalo</i>
                <br />
                <br />
                "your arrival has painted my entire heart, you have radiated away
                all the darkness, and you look fanstastic."
                <br />
                "you are so beautiful and gorgeous that if you ask for it everything
                is possible, everyone is slave to your beauty, even the most famous
                poets will sweat from head to toe in your command."
                <br />
                <br />
                <i>ei ganta ki tomay bhavabe?</i>
                <br />
                <i>shudhu hasi naki chokh rangabe</i>
                <br />
                <i>aami boli jodi paro</i>
                <br />
                <i>tumio khonjo tomay</i>
                <br />
                <br />
                "i am already in my journey, hope this song makes you ponder too,
                so my advice: go discover yourself as well."
                <br />

                🖤
                <p class="mb-12"></p>
            </div>
        </div>
    </div>
</Layout>
