---
import { Music, Youtube } from "lucide-react";
import Layout from "../../../../components/layout.astro";
import { AiOutlineSpotify } from "react-icons/ai";
---

<Layout>
    <div class="w-screen h-screen justify-center noise-bg overflow-scroll">
        <div class="max-w-2xl p-12 mx-auto">
            <h2 class="text-xl font-bold">dhandar thekeo jotil tumi</h2>
            <div id="links" class="my-6 flex gap-2 items-center">
                <a
                    href="https://open.spotify.com/track/5fAZ1SFeyZYvqpGvO0vGhg?si=f60b121b41a941f8"
                    target="_blank"
                >
                    <AiOutlineSpotify className="text-xl" />
                </a>
                <a
                    href="https://www.youtube.com/watch?v=zKOduuC6H4c"
                    target="_blank"
                >
                    <Youtube />
                </a>
            </div>
            <div>
                helloo! well, sorry for skipping yesterday, i did not force
                myself to write something yesterday.
                <br />
                <br />
                &lt;between the last para and the next one i am gonna write, i looked
                at gaza news, so my state of mind is not the same, but we have to
                move forward&gt;
                <br />
                <br />
                well this song in it's face value might not appeal to you, it would
                seem like a breakup song, a guy being frustrated by the complexity
                of his partner, his inablity to understand her. but we can interpret
                this song in a completely different way.
                <br />
                <br />
                "the birth of the reader must be at the cost of the death of the
                author". this means that the author leaves the scene when the reader
                picks up a piece of literature. the reader is free to interpret the
                art in any way they want.
                <br />
                <br />
                so let's interpret this song in a fun way, shall we?
                <br />
                <br />
                we all know that girls do NOT mean what they say, most times it's
                exactly the opposite. all boyfriends and husbands know what "im fine"
                and "i am not angry" means 🫠
                <br />
                so here we see the author take up that role for once, a role reversal
                if you will. he is throwing tantrums and teasing her saying:
                <br />
                <br />
                <i>dhandhar thekeo jotil tumi</i>
                <br />
                <i>khider thekeo sposhṭo</i>
                <br />
                <i>kajer moddhe okaj khali</i>
                <br />
                <i>moner moddhe koshto</i>
                <br />
                <br />
                he is pulling her legs here, just like she does to him saying "you
                are more confusing than a puzzle", and tells her that she is so omnipresent
                in his life that "you are more noticeable to me than my hunger".
                <br />
                "you are so mischievous, that you only go around bugging me and pulling
                my legs, and that is why im hurt 👉🏼👈🏼"
                <br />
                <br />
                <i
                    >gunogaaner hajar buli
                    <br />
                    shudhu-i shomoy noshto</i
                >
                <br />
                <br />
                "you need so much appreciation, do the same for me too, else i call
                it as a waste of time."
                <br />
                <br />
                <i>aaj chhalak ami kaal boka</i>
                <br />
                <i>mahot premik nyaka nyaka</i>
                <br />
                <i>amar ashol chehara ki chinte tumi paro?</i>
                <br />
                <i>chinte jodi pere-i thako ghenna koro ghenna koro</i>
                <br />
                <br />
                "i change my character like your mood swings, i will be a nyaka premik
                if that means get your attention. but can you see through my facade?
                if you can, then why don't you hate me?"
                <br />
                <br />
                despite all the teasing, despite asking her to hate him, he is actually
                asking her to love him, just like her "im fine".
                <br />
                <br />

                🖤
                <p class="mb-12"></p>
            </div>
        </div>
    </div>
</Layout>
