---
import Layout from "../../../../components/layout.astro";
---

<Layout>
    <div class="w-full h-full flex justify-center noise-bg">
        <div class="p-12">
            <h2 class="font-bold text-xl">bangla - the sweetest language 💖</h2>
            <ul class="flex flex-col gap-4 mt-4 list-disc px-6">
                <li><a href="/blog/2025/04/01" class="underline">1st April - bhalobasha baki</a></li>
            </ul>
        </div>
    </div>
</Layout>
